body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
main{
    width: 500px;
    height: 500px;
    border: 1px  solid black;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 48px;
    height: 48px;
    border: 1px solid blue;
    background-color: black;
}
.objetivo{
    background-color: green;
}
.jugador1{
    background-color: orange;
}
.jugador2{
    background-color: purple;
}